---
# Source: alameda/charts/executor/templates/clusterrolebinding.yaml

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  name: alameda-executor
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: alameda-executor
subjects:
- kind: ServiceAccount
  name: alameda-executor
  namespace: alameda